.container {
  position: relative;
  width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 40px;

  :global(.small) & {
    padding: 0 15px;
  }
}

.responsive {
  composes: container;

  width: auto;
  max-width: 1240px;
  min-width: 320px;
}
