.columns {
  lost-center: 100%;

  .side {
    lost-column: 4/12;

    .medium & {
      display: none;
    }
  }

  .main {
    lost-column: 8/12;

    .medium & {
      lost-column: 1;
    }
  }

  .tableWrapper {
    .medium & {
      max-width: 788px;
      margin: auto;
    }
  }
}
