@value light-grey-gradient, primary-gradient from './../../libs/colors.css';
@value border-radius-big, shadow-primary from './../../libs/effects.css';


.wrapper {
  padding-top: 80px;
}

.bg {
  background: light-grey-gradient;
}

.inner {
  display: flex;
  height: 520px;
  overflow: hidden;
}

.about-us, .head-doctor {
  width: 50%;
}

.about-us {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-heading h2 {
  margin: 0;
}

.p-wrapper {
  flex-grow: 1;
  height: 100%;
  padding-top: 40px;
  width: 400px;
  position: relative;
  margin-bottom: -100px;

  &::before {
    content: '';
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 140px;
    background: linear-gradient(to bottom, transparent 0%, #2faacc 100%);
  }
}

.p-background {
  background: primary-gradient;
  border-top-left-radius: border-radius-big;
  border-top-right-radius: border-radius-big;
  height: 100%;
  padding: 9px;
  box-shadow: shadow-primary;
  padding-left: 0;
}

.p-inner {
  overflow-y: scroll;
  height: 100%;

  p {
    margin: 0;
    padding: 1.2em 1.6em;
    padding-bottom: 200px;
    color: #fff;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
  	border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: color(white a(40%));
  }
}

.picture {
  height: 100%;
  width: 600px;
  background-image: url(./../../../assets/images/smiling-girl.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom left;
  position: relative;

  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1.7s cubic-bezier(0.165, 0.84, 0.44, 1),
              transform 1.7s cubic-bezier(0.165, 0.84, 0.44, 1);

  .wrapperReached & {
    opacity: 1;
    transform: translateX(0);
  }
}
