.section-wrapper {
  padding: 40px 0;
  position: relative;
}

.news-entity {
  display: flex;
  width: 360px;

  .preview {
    width: 100px;
    position: relative;
    left: 1px;
  }

  .content {
    padding-left: 40px;
    width: 100%;
  }
}

.bottom-line {
  display: flex;
  margin-top: 8px;
}

.data {
  composes: small-grey from './../../libs/typography.css';
  margin-top: -5px;
  margin-right: 20px;
}

.next-arrow-wrapper, .prev-arrow-wrapper {
  position: absolute;
  top: 25px;
}

.next-arrow-wrapper {
  right: -40px;
}

.prev-arrow-wrapper {
  left: -40px;
}
