@value family-bold from './../../libs/typography.css';

.wrapper {
  padding-top: 20px;
}

.caption {
  font-family: 'fira-sans', Helvetica, sans-serif;
  font-size: 29pt;
}

.slider-wrapper {
  display: flex;
  overflow-x: visible;
}

.next-arrow-wrapper, .prev-arrow-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}

.next-arrow-wrapper {
  right: -40px;
}

.prev-arrow-wrapper {
  left: -40px;
}

.more-about {
  font-family: family-bold;
  text-align: center;
  padding-top: 40px;
  font-size: 14pt;
}

.slider {
  display: flex;
  width: 10000px;
}
