@value primary, primary-gradient from './../../libs/colors.css';
@value border-radius-small from './../../libs/effects.css';

.columns {
  display: flex;

  .side {
    width: 360px;
  }

  .main {
    width: 100%;
  }
}

/* -------- Navbar -------- */
.nav-bar {
  background: linear-gradient(to bottom, #fbdf8d, #f8c25a);
  padding: 26px;
  border-radius: border-radius-small;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.nav-bar-link {
  a {
    position: relative;
    display: block;
    padding: 7px 0;
    color: #000;
    border: 0;
    text-decoration: none;
    line-height: 26px;
  }

  &::before {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    left: -40px;
    right: -26px;
    top: 0; bottom: 0;
    background: primary-gradient;
    border-top-left-radius: border-radius-small;
    border-bottom-left-radius: border-radius-small;
  }

  .arrow-tale {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -46px;
    width: 20px;
    background: primary-gradient;
    opacity: 0;

    &::before {
      content: '';
      display: block;
      left: 0;
      position: absolute;
      border-left: 20px solid transparent;
      border-top: 20px solid white;
      border-bottom: 20px solid white;
    }
  }
}

.nav-bar-link--active {
  composes: nav-bar-link;

  &::before, .arrow-tale {
    opacity: 1 !important;
  }

  a {
    top: -1px;
    color: #fff;
    font-size: 15pt;
    line-height: 26px;
    transition: all .1s ease-in-out;
  }
}

.nav-bar-link:hover {

  &:before, .arrow-tale {
    opacity: .5;
  }
}

/* -------- Filter-bar -------- */
.filter {
  display: flex;
  justify-content: space-between;

  .by-social {
    position: relative;
    top: 8px;
  }

  .by-title {
    width: 300px;
    position: relative;

    .placeholder {
      position: absolute;
      top: 9px;
      left: 19px;
    }
  }
}

/* -------- Prices -------- */
.prices {
  width: 700px;
  margin: auto;
  border-radius: border-radius-small;
  color: #fff;
  background: #4fadbf;

  .inner {
    padding: 26px 40px;
  }
}

.prices--interactive {
  composes: prices;
  height: 800px;

  .inner {
    overflow-y: scroll;
    height: calc(100% - 100px); /* вычитаем высоту .top-bar'а */
    padding-bottom: 80px;
  }

  .top-bar {
    padding: 26px 40px;
  }
}

.section-heading {
  font-size: 26pt;
  font-weight: 600;
  text-align: center;
}

.category-title {
  font-size: 26pt;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}

.category:first-child .category-title {
  padding-top: 14px;
}

.service {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

  .title, .price {
    font-size: 14pt;
  }

  .title {
    max-width: 500px;
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background: #fff;
    position: relative;
    top: 15px;
    margin: 0 16px;
    opacity: .4;
  }
}

.no-results {
  text-align: center;
}
