$iconSize: 24px;


.wrapper {
  display: flex;
}

.link {
  display: block;
  margin-left: 22px;
  border: 0;
  text-decoration: 0;
  width: $iconSize;
  height: $iconSize;
  opacity: .85;
  transition: opacity .1s ease-out;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.linkVk, .linkInstagram, .linkFacebook {
  composes: link;
}

.linkVk {
  color: #4a76a8;
  line-height: 0;
  position: relative;
  font-size: $iconSize;

  transform: scale(1.15);

  &:hover {
    color: #4a76a8;
  }
}
