@value primary from './libs/colors.css';
@value family from './libs/typography.css';


* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  font-size: 62.5%;
}

html, body, #root {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 1.6em;
  font-family: family;
  line-height: 1.6;
  position: relative;
}

p {
  line-height: 1.8;
}
