@value grid-gutter: 5%;


.items {

  .item {
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.itemsGrid {
  composes: items;
  lost-center: 100%;

  .item {
    lost-column: 1/3 3 grid-gutter;
    lost-gutter: 100px;

    :global(.medium) & {
      lost-column: 1/2 2 grid-gutter;
    }

    :global(.small) & {
      lost-column: 1;
    }
  }

  .itemInner {
    margin: auto;
  }
}
