.items {

  .item {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.itemsGrid {
  composes: items;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    width: 30%;
  }
}
