@value primary, primary-gradient from '../../styles/libs/colors.css';
@value overlay-level-3 from '../../styles/libs/effects.css';
@value loader-size: 100px;
@value animation-speed: 2s;


.wrapper {
  z-index: overlay-level-3;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: loader-size;
  }
}

.logo {
  z-index: -1;
  margin-top: loader-size * (3 / 35);
}

.circle {
  border-radius: 50%;
  background: color(#2ac4ff a(20%));

  animation-name: circleAnimation;
  animation-duration: animation-speed;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  &:nth-child(2) {
    animation-delay: animation-speed / 2;
  }

  &:nth-child(3) {
    animation-delay: animation-speed * 2;
  }
}

.indicatorWrapper {
  margin-top: 10px;
}

.indicator {
  width: 120px;
  height: 15px;
  padding: 3px;
  background: #767676;
  /* border: 1px solid primary; */
  border-radius: 100px;
}

.completion {
  width: 0;
  height: 100%;
  background: primary;
  border-radius: 100px;
  transition: width .2s ease-out;
}


@keyframes circleAnimation {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: loader-size * (5 / 4);
    height: loader-size * (5 / 4);
  }

  100% {
    width: 0;
    height: 0;
  }
}
