@value primary, primary-gradient from '../../styles/libs/colors.css';
@value overlay-level-4 from '../../styles/libs/effects.css';
@value loader-size: 140px;


.wrapper {
  /* z-index: overlay-level-4; */
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: 100px;
  }
}

.logo {
  z-index: -1;
  /* margin-top: loader-size * (3 / 35); */
}

.completionWrapper {
  margin-top: 10px;
  /* width: loader-size; */
}

.completion {
  width: 0;
  height: 7px;
  /* background: primary; */
  border-radius: 100px;
  transition: width .2s ease-out;
}
