@value yellow, light-grey from '../../styles/libs/colors.css';


.star {
  display: inline-block;
  margin: 0 1px;

  svg {
    width: 18px;
    height: auto;
  }

  &.empty svg {
    fill: light-grey;
    stroke-width: 20;
  }

  &.full svg {
    fill: yellow;
  }
}
