.wrapper {
  padding: 60px 0 100px;
}

.heading {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 6.5rem;
}

.caption {
  position: relative;
  top: -55px;
}

.breadcrumbs {
  margin-bottom: .8rem;

  .divider {
    margin: 0 1rem;
  }
}

.contentSqueeze {
  width: 70%;
  margin: auto;

  :global(.medium) & {
    width: 85%;
  }
}

.fullWidth {
  margin-top: 100px;
}
