@value primary, secondary from '../../../styles/libs/colors.css';


a, link, .link {
  cursor: pointer;
  color: primary;
  outline: 0;
  border-bottom: 1px solid color(#2ac4ff a(40%));
  text-decoration: none;
  font-weight: 600;
  transition: color .1s ease-out;

  &:hover, &:active, &:focus {
    outline: 0;
  }

  &:hover {
    color: color(#2ac4ff tint(25%))
  }
}

.active {
  color: secondary;
  border-bottom: 0 !important;
  cursor: default;
}

.linkAlt {
  composes: link;

  color: #fff;
  border-bottom: 1px solid rgba(255,255,255, .4);

  &:hover {
    border-bottom-color: white;
    color: #fff;
  }
}

.dashedLink {
  composes: link;

  border-bottom-style: dashed;
}

.dashedLinkAlt {
  composes: linkAlt;

  border-bottom-style: dashed;
}
