@value border-radius-small from '../../../styles/libs/effects.css';


.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: border-radius-small;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  transition: all .1s ease-out;

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,.1);
    opacity: 0;
    border-radius: border-radius-small;
    transition: opacity .1s ease-out;
  }

  &:hover {
    background-size: auto 110%;

    &::before {
      opacity: 1;
    }
  }
}
