@value primary, secondary, alt-reversed, yellow, grey, dark-grey, primary-gradient from '../../../styles/libs/colors.css';
@value border-radius-small, overlay-level-2, overlay-level-3 from '../../../styles/libs/effects.css';
@value attachedHeight: 50px;


.spaceFiller {
  height: 205px;
}

.headerBarWrapper {
  padding-top: 60px;

  :global(.small) & {
    padding-top: 40px;
  }
}

.headerBar {
  position: relative;
}

.headerBarAttached {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: overlay-level-2;
  display: block;
  box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.25);
  background: #fff;

  animation-name: attachedAppear;
  animation-duration: .2s;
  animation-timing-function: ease-out;

  .navigation {
    padding-left: 20px;
    flex-grow: 1;
    top: 0;
  }
}

.headerBarNav {
  position: relative;
  height: 85px;
  border: 3px solid primary;
  border-radius: 12px;
  display: flex;
  align-items: center;

  .headerBarAttached & {
    border: 0;
    height: attachedHeight;
  }
}

.headerBarNavMobile {
  composes: headerBarNav;
  justify-content: center;
}

.logo {
  position: relative;
  flex-shrink: 0;
  margin-left: 20px;

  :global(.medium) & {
    margin-left: 0;
  }

  .headerBarAttached & {
    top: 14px;
    width: 50px;
  }

  a {
    display: block;
    border: 0;
    text-decoration: 0;
    cursor: pointer;
  }
}

.navigation {
  list-style: none;
  padding-left: 10px;

  li {
    display: inline-block;
    padding: 0 1.2em;
    line-height: 0;
    font-weight: 600;
  }
}

.socialWrapper {
  padding-left: 40px;
}

.social {
  display: flex;
}

.socialMobile {
  composes: social;
}

.socialLink {
  margin-left: 18px;
  font-size: 20pt;

  &:first-child {
    margin-left: 0;
  }

  a {
    border: 0;
    text-decoration: 0;
  }

  .socialMobile & {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }

    a {
      font-size: 32pt;
    }
  }
}

.servicesWrapper {
  margin-top: 60px;
}

.servicesMenu {
  background: primary-gradient;
  color: #fff;
  height: 70px;
}

.servicesLinks {
  height: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 0;
  margin: 0;

  li {
    margin-right: 2.5em;
  }

  a {
    color: #fff;
    border-bottom-color: rgba(255,255,255, .4);

    &:hover {
      border-bottom-color: white;
    }
  }
}

.serviceLinkActive {
  position: relative;
  z-index: 2;
}

.serviceLinkActive {
  border: 0;
  text-decoration: none;

  &::after {
    content: '';
    z-index: 1;
    display: block;
    width: calc(100% + 26px);
    height: 28px;
    position: relative;
    margin-top: -26px;
    left: -12px;
    border-radius: 100vh;
    background: alt-reversed;
  }
}


/* -------- Mobile -------- */

.mobileMenuButton {
  font-size: 36pt;
  cursor: pointer;
  position: absolute;
  margin-top: 2px;
  left: 32px;

  .small & {
    font-size: 20pt;
  }

  &:hover {
    color: primary;
  }
}

.mobileMenuButtonOpen {
  composes: mobileMenuButton;
  color: grey;
  transition: color .1s ease-out;
}

.mobileMenuButtonClose {
  composes: mobileMenuButton;

  color: #fff;
  position: absolute;
  margin-top: 5px;
  margin-left: 3px;

  .small & {
    font-size: 24pt;
  }

  &:hover {
    color: #fff;
  }
}

.mobileMenu {
  position: fixed;
  z-index: overlay-level-3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: primary;

  a {
    color: #fff;
    font-size: 18pt;
  }
}

.mobileMenuInner {
  position: absolute;
  padding: 37px 0;
  top: 0;
}

.mobileTopBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.mobileMenuClose {
  position: absolute;
  left: 32px;
}

.mobileLogo {
  position: relative;
  top: 6px;
}

.mobileSocialsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.mobileNav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .mobileNavLink {
    margin: 0 40px 40px;
  }
}

.mobileServices {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  list-style: none;

  .mobileServiceLink {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


@keyframes attachedAppear {
  from {
    top: -1 * attachedHeight;
  }

  to {
    top: 0;
  }
}
