@value primary, primary-gradient from '../../../styles/libs/colors.css';
@value border-radius-small from '../../../styles/libs/effects.css';


.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global(.small) & {
    display: block;
  }

  .byTitle {
    width: 50%;
    max-width: 300px;
    position: relative;

    :global(.small) & {
      width: 100%;
    }

    .placeholder {
      position: absolute;
      top: 9px;
      left: 19px;
    }
  }

  .bySocial {

    :global(.small) & {
      margin-top: 15px;
    }
  }
}

.prices {
  width: 100%;
  margin: auto;
  padding: 40px;
  border-radius: border-radius-small;
  color: #fff;
  background: #4fadbf;

  :global(.small) & {
    padding: 20px;
  }

  .inner {
    margin-top: 26px;
    margin-right: -25px;
    padding-right: 15px;

    :global(.small) & {
    margin-right: 0;
    padding-right: 0;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: color(white a(40%));
    }
  }
}

.pricesInteractive {
  composes: prices;
  height: 800px;

  .medium & {
    height: auto;
  }

  .inner {
    overflow-y: scroll;
    height: calc(100% - 100px); /* вычитаем высоту .top-bar'а */
    padding-bottom: 80px;

    .medium & {
      overflow-y: visible;
    }
  }
}

.categoryTitle {
  text-align: center;
  padding-top: 40px;
}

.category:first-child .categoryTitle {
  padding-top: 14px;
}

.service {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

  .title, .price {
    font-size: 14pt;
  }

  .title {
    max-width: 500px;
  }

  .price {
    min-width: auto;
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background: #fff;
    position: relative;
    top: 15px;
    margin: 0 16px;
    opacity: .4;
  }
}

.noResults {
  text-align: center;
}
