@value light-grey-gradient, primary-gradient from '../../../styles/libs/colors.css';
@value border-radius-big, shadow-primary from '../../../styles/libs/effects.css';


.wrapper {
  padding-top: 80px;
}

.background {
  background: light-grey-gradient;
}

.inner {
  lost-center: 100%;
  height: 520px;
  overflow: hidden;
}

.text {
  lost-column: 1/2;
  display: flex;
  padding-top: 40px;
  height: 100%;
  flex-direction: column;
  align-items: center;

  .medium & {
    lost-column: 1;
  }
}

.heading {
  text-align: center;

  .small & {
    padding-bottom: 10px;
  }
}

.textWrapper {
  flex-shrink: 2;
  height: 100%;
  max-width: 400px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    height: 140px;
    background: linear-gradient(to bottom, transparent 0%, #2faacc 100%);
  }
}

.textBackground {
  height: 100%;
  padding: 11px;
  padding-left: 0;
  background: primary-gradient;
  border-top-left-radius: border-radius-big;
  border-top-right-radius: border-radius-big;
  box-shadow: shadow-primary;
}

.textInner {
  height: 100%;
  overflow-y: scroll;
  padding: 1.2em 1.6em;
  padding-bottom: 100px;

  p {
    margin: 0;
    color: #fff;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
  	border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: color(white a(40%));
  }
}

.pictureWrapper {
  lost-column: 1/2;
  height: 100%;
}

.picture {
  height: 100%;
  background-image: url(./../../../assets/images/smiling-girl.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom left;
  position: relative;
}
