.columns {
  display: flex;

  .side {
    min-width: 100px;
    margin-right: 2rem;

    :global(.small) & {
      display: none;
    }
  }

  .content {
    max-width: 580px;
  }
}

.headlineLink {
  font-size: 18pt;
}

.caption {
  position: relative;
  top: -10px;
  margin-bottom: 10px;
}

.date {
  composes: small-grey from '../../../styles/libs/typography.css';
}
