@value primary, alt-gradient from '../../../styles/libs/colors.css';
@value shadow-primary from '../../../styles/libs/effects.css';


.label {
  font-weight: 600;
  line-height: 2em;
  color: #7d7d7d;
}

.errorText {
  display: block;
  color: red;
  font-size: 11pt;
  height: 0;
  position: relative;
  top: -5px;
}

.labelAlt {
  composes: label;
  color: #fff;
}

.textInput {
  border-radius: 6px;
  border: 0;
  outline: 0;
  width: 100%;
  padding: .8em;
  margin-bottom: .4em;
  transition: box-shadow .2s ease-out;

  &:focus {
    box-shadow: 0 0 0 1px primary,
                0 0 12px 1px primary;
  }
}

.withError {
  box-shadow: 0 0 0 1px red,
              0 0 12px 1px color(red a(60%));
}

.textField {
  composes: textInput;
}

.textArea {
  composes: textInput;

  resize: none;
  line-height: 1.6;
}


/* -------- appearance -------- */

.roundTransparent {
  background-color: color(white a(20%));
  border-radius: 100vh;
  color: #fff;
  box-shadow: 0 2px 12px 0 color(black a(10%));
  transition: none;
  padding-left: 1.2em;
  transition: background-color .1s ease-out;

  &:hover {
    background-color: color(white a(30%));
  }

  &:focus {
    background: linear-gradient(to top, #2f9fbd 0%, #257288 100%);
    box-shadow: none;

    &::placeholder {
      visibility: hidden;
    }
  }

  &::placeholder {
    color: #fff;
  }
}
