@value grey, light-grey, primary from '../../styles/libs/colors.css';
@value border-radius-small from '../../styles/libs/effects.css';
@value triangle-size: 15px;


.wrapper {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.topRow {
  margin-bottom: 10px;

  .author, .date {
    line-height: 20px;
  }

  .author {
    font-weight: bold;
  }

  .date {
    margin-left: 8px;
    position: relative;
    top: 1px;
    font-size: 10pt;
    color: grey;
  }
}

.rating {
  margin-top: 4px;
}

.text {
  margin-top: 6px;
  padding: 30px;
  background: light-grey;
  width: 100%;
  border-radius: border-radius-small;
  transition: all .2s ease-in-out;

  > * {
    margin: 0;
    padding-right: 40px;
  }
}

.readFurther {
  margin-top: 20px;
}

.response {
  border-radius: border-radius-small;
  background: primary;
  padding: 1.2em 2.2em 1.2em 1.6em;
  margin-top: 32px;
  color: #fff;
  position: relative;
  width: 540px;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: triangle-size solid transparent;
    border-right: triangle-size solid transparent;
    border-bottom: triangle-size solid primary;
    position: absolute;
    top: -1 * triangle-size;
    left: 60px;
  }

  > * {
    margin: 0;
  }
}
