link(rel="stylesheet", href="styles.css", data-inline)

div(class='container')
  div(class='header')
    div(class='logo')
      img(src='https://sorfeai.ams3.digitaloceanspaces.com/logo.png')
    p(class='heading') Новый вопрос
      
  div(class='label') Автор 
  div(class='box') #{author}
      
  div(class='label') Вопрос 
  div(class='box box--text') #{question}
