.nav {
  padding-top: 3.6em;
  display: flex;
  justify-content: center;
}

.links-inner {
  justify-content: center;
  display: flex;
  position: relative;
}

.nav-link {
  margin: 0 .6em;
  font-size: 16pt;
}

.prev, .next {
  composes: nav-link;
  position: absolute;
}

.prev {
  left: -2.2em;
}

.next {
  right: -2.2em;
}
