.caption {
  margin-top: -32px;
  display: flex;
}

.views {
  margin-left: 25px;
}

.eyeIcon {
  padding-right: 6px;
}

.text {
  padding-top: 32px;
}

.shareButtons {
  padding-top: 20px;

  .shareLabel {
    margin-bottom: 10px;
  }
}
