@value small-input-width from '../../../styles/libs/sizes.css';


.wrapper {
  width: 400px;
}

.nameInput {
  width: small-input-width;
}

.hint {
  padding: 1em 1em 1em 0;

  > * {
    margin: 0;
  }
}
