.columns {
  display: flex;

  .side {
    width: 100px;
  }

  .content {
    margin-left: 20px;
    width: 580px;
  }
}

.headline-link {
  font-size: 18pt;
}

.caption {
  position: relative;
  top: -10px;
  margin-bottom: 10px;
}

.date {
  composes: small-grey from './../../libs/typography.css';
}
