.form {
  .input-group {
    padding-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .input-row {
    display: flex;
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .label {
    padding-right: 20px;
    text-align: right;
    width: 160px;
    font-size: 11pt;
    line-height: 1.4;
    position: relative;

    .label-caption {
      font-style: italic;
      color: grey;
    }
  }

  .field {
    flex-grow: 1;
  }

  .tiny-wrapper {
    width: 230px;
  }
}

.note {
  font-size: 10pt;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
}

.success-text > * {
    margin: 0;
}
