.caption {
  margin-top: -32px;
  display: flex;
}

.views {
  margin-left: 25px;
}

.eye-icon {
  padding-right: 6px;
}

.text {
  padding-top: 32px;
}

.share-buttons {
  padding-top: 20px;

  .share-label {
    margin-bottom: 10px;
  }
}
