@value grey from './../libs/colors.css';

.news-entity {
  width: 700px;
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }

  .date {
    font-size: 10pt;
    color: grey;
  }
}

.columns {
  display: flex;

  .side {
    width: 100px;
  }

  .news-content {
    position: relative;
    top: -11px;
    width: 580px;
    margin-left: 20px;
  }
}

.headline-link {
  font-size: 18pt;
}
