@value secondary from '../../../styles/libs/colors.css';
@value primary-gradient, primary from '../../../styles//libs/colors.css';
@value alt-gradient from '../../../styles/libs/colors.css';
@value shadow-primary, ease-out-cubic from '../../../styles/libs/effects.css';


.wrapper  {
  position: absolute;
  height: 100vh;
  margin-right: 40px;
  top: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  justify-content: flex-end;
}

.wrapperMain, .wrapperCall {
  position: fixed;
  bottom: 0;
}

.wrapperCall {

  > * {
    position: relative;
    bottom: 20px;
    right: 280px;
  }
}

.floatingSectionCollapsed .navArrow {
  transform: rotate(180deg);
}

.floatingSection {
  width: 260px;
  margin-bottom: 0;
  background: primary-gradient;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: shadow-primary;
  color: #fff;
  transition: margin-bottom .6s ease-out-cubic,
              transform .3s ease-out-cubic;
}

.floatingSectionCollapsed {
  composes: floatingSection;
  margin-bottom: -220px;

  &:hover {
    transform: translateY(-10px);
  }
}

.container {
  padding: 1em;
}

.calling {
  text-align: center;
}

.phoneNumber {
  font-family: 'fira-sans', Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 800;
}

.callback {
  font-weight: 600;
  border-bottom: 1px dashed rgba(255,255,255,.5);
  display: inline-block;
  cursor: pointer;
  transition: border-bottom ease-in-out .2s;

  &:hover {
    border-bottom: 1px dashed #fff;
  }
}

.callbackActive {
  composes: callback;
  transition: none;
  cursor: default;

  border-bottom-color: transparent;
  color: secondary;

  &:hover {
    border-bottom-color: transparent;
  }
}

.middleSection {
  background: alt-gradient;
  font-family: Helvetica, Arial, sans-serif;
}

.address, .schedule {
  display: flex;

  p {
    margin: 0;
  }
}

.address {
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255,255,255,.6);
}

.schedule {
  padding-top: 1em;
}

.addressIcon, .scheduleIcon {
  width: 14px;
  height: 14px;
  display: block;
  margin: .2em .4em 0 0;
}

.addressIcon {
  background: url(../../../assets/images/icons/marker.png);
  background-repeat: no-repeat;
  background-position: center;
}

.scheduleIcon {
  background: url(../../../assets/images/icons/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.btnWrapper {
  margin-bottom: 10px;
}

.navArrow {
  width: 100%;
  height: 25px;
  cursor: pointer;
  position: relative;
  top: -6px;
  background: url(../../../assets/images/nav-elements/nav-arrow-down.png);
  background-repeat: no-repeat;
  background-position: center;
}
