@value alt-gradient from '../../../styles/libs/colors.css';


.wrapper {
  position: relative;
}

.label {
  cursor: pointer;
}

.native {
  visibility: hidden;
}

.apparent {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  top: 2px;
  margin-right: 5px;

  &.checked {
    background: alt-gradient;
  }

  &.unchecked {
    background: transparent;
    border: 2px solid #fff;
  }

  .checkmark {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
  }
}
