@value primary, alt-gradient from '../../../styles/libs/colors.css';


.wrapper {
  position: relative;
}

.label {
  cursor: pointer;

  &:hover .unchecked {
    border-color: color(#2ac4ff tint(25%));

    .inverted & {
      border-color: #fff;
    }
  }
}

.native {
  visibility: hidden;
  width: 0;
  height: 0;
}

.apparent {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  top: 2px;
  margin-right: 5px;

  &.checked {
    background: primary;

    .inverted & {
      background: alt-gradient;
    }
  }

  &.unchecked {
    background: transparent;
    border: 2px solid primary;

    .inverted & {
      border-color: #fff;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #fff;
  }
}
