@value grey from '../../styles/libs/colors.css';


.license {
  display: flex;
}

.icon {
  min-width: 30px;
  font-size: 16pt;

  a {
    display: block;
    border: 0;
    text-decoration: 0;
  }
}

.size {
  color: grey;
  position: relative;
  top: 5px;
}
