@value small-grey from '../../../styles/libs/typography.css';


.sectionWrapper {
  padding-top: 80px;
  position: relative;
}

.wrapper {
  display: flex;
  width: 360px;

  .preview {
    width: 100px;
    position: relative;
    left: 1px;
  }

  .content {
    padding-left: 40px;
    width: 100%;
  }
}

.bottomLine {
  display: flex;
  margin-top: 8px;
}

.data {
  composes: small-grey;

  margin-top: -5px;
  margin-right: 20px;
}
