@value small-grey from '../../../styles/libs/typography.css';


.sectionWrapper {
  padding: 40px 0;
  position: relative;
}

.wrapper {
  display: flex;
  width: 360px;
  
  .preview {
    width: 100px;
    position: relative;
    left: 1px;
  }

  .content {
    padding-left: 40px;
    width: 100%;
  }
}

.mobile {

  .content {
    padding-left: 0;
  }
}

.bottomLine {
  display: flex;
  margin-top: 8px;

  .mobile {
    display: block;
  }
}

.data {
  composes: small-grey;

  margin-top: -5px;
  margin-right: 20px;
}

.nextArrowWrapper, .prevArrowWrapper {
  position: absolute;
  top: 25px;
}

.nextArrowWrapper {
  right: -40px;
}

.prevArrowWrapper {
  left: -40px;
}
