@value primary, grey from './../../libs/colors.css';

.arrow--prev {
  width: 20px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}

.arrow--next {
  composes: arrow--prev;
  transform: rotate(180deg);
}

.arrow--next, .arrow--prev {
  svg {
    fill: grey;

    &:hover {
      fill: primary;
    }
  }
}
