@value primary, light-grey from '../../libs/colors.css';
@value border-radius-small, shadow-primary from '../../libs/effects.css';

.select {
  border: 0;
  /* position: relative; */
}

.select--selecting {
  composes: select;

  .angle-wrapper > * {
    transform: rotate(180deg);
  }

  /* .options-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  } */
}

.current, .options-list {
  border-radius: border-radius-small;
}

.current {
  background: primary;
  color: #fff;
  padding: 5px 40px 5px 15px;
  position: relative;
  cursor: pointer;

  .current-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .angle-wrapper {
    position: absolute;
    top: 0;
    right: 15px;
    width: 15px;
    height: 15px;
    font-size: 16pt;

    > * {
      transition: transform .2s ease-out;
    }
  }
}

.options-list {
  /* width: 100%; */
  position: absolute;
  top: 60%;
  margin-bottom: 40px;
  z-index: 10000;
  background: #fff;
  box-shadow: shadow-primary;
}

.option {
  padding: 10px 15px;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: border-radius-small;
    border-top-right-radius: border-radius-small;
  }

  &:last-child {
    border-bottom-left-radius: border-radius-small;
    border-bottom-right-radius: border-radius-small;
  }

  &:hover {
    background-color: light-grey;
  }
}
