@value primary from '../../../styles/libs/colors.css';


.dentists {
  lost-center: 100%;
  margin: 80px 0 60px;
}

.dentistsOnly {
  composes: dentists;
  display: flex;
  justify-content: center;

  .dentist {
    lost-column: 1/2 2;
    min-width: 320px;

    :global(.small) & {
      width: 80%;
      max-width: 400px;
      margin: auto;
    }

    :global(.xsmall) & {
      width: 100%;
    }
  }
}

.dentistsPair {
  composes: dentists;

  :global(.small) & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dentist {
    lost-column: 1/2 2 7%;

    :global(.small) & {
      lost-column: 1/1;
      width: 80%;
      max-width: 400px;
      margin-bottom: 65px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    :global(.xsmall) & {
      width: 100%;
    }
  }
}

.pricelist {
  max-width: 868px;
  margin: 140px auto 0;
}
